body {
  background-color: rgb(196, 215, 221);
}


img{
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -5;
    border: 0;
    
}
    
    


#button {
    display: block;
    margin-block: -90px;
    position: absolute;
    top: 43%;
    left: 50%;
    background-color: transparent;
    color: rgb(4, 34, 80);
    font-size: 16px;
    padding: 3px 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
 

  #button:hover {
    background-color: rgb(226, 233, 238);
  }

  main {
    text-align: center;
    position: relative;
    left: 30px;
    margin-top: 50px;
    color: rgb(66, 116, 133);

  }
  p {
    text-align:center;
    position: relative;
    top:250px;
    left: 30px;
    color:rgb(27, 114, 143);
    padding: 0;
    margin: 0;
    line-height:0;
  
  }

  .surf{
    min-height: 100vh;
    width: 100%;
    background-image: url();
  }